[submodule "public"]
	path = public
	url = git@github.com:paulgiuliano/paulgiuliano.github.io.git
	branch = master
	ignore = dirty
[submodule "themes/hugo-identity-theme"]
	path = themes/hugo-identity-theme
	url = https://github.com/aerohub/hugo-identity-theme.git
[submodule "themes/hugo-theme-dimension"]
	path = themes/hugo-theme-dimension
	url = https://github.com/your-identity/hugo-theme-dimension.git
